.main{    
    flex: 1;
    height:fit-content;
    padding-bottom: 15vh;
    position: relative;
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    color: rgba(105, 105, 105, 1);;
}

.nav img{
    width: 4rem;
    height: 4rem;
    padding: 0.4rem;
    border-radius: 100%;
    border: 2px solid  rgba(105, 105, 105, .5);
    background-color: #F0F4F9;
}

/* ======== Main ========= */
.main__container{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    
    min-height: 100vh;
    justify-content: space-around;
}

.greet{
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 8rem;
}

.greet__gradient{
    width: fit-content;
    background: linear-gradient(to right,#558DF5, #F15A55);
    color: transparent;
    -webkit-background-clip: text;
}

.greet__subtitle{
    color: #C4C7C5;
}

.cards{
    display: grid;
    /* grid-template-columns: repeat(4,200px); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
}

.card{
    position: relative;
    min-width: 200px;
    min-height: 200px;
    background-color: #F0F4F9;
    padding: 1rem;
    border-radius: 0.8rem;
    cursor: pointer;
}

.card:hover{
   background-color:#C4C7C5 ;
}

.card p{
    color: #484848;
}

.card img{
    position: absolute;
    color: #6e6e6e;
    width: 2rem;
    padding: 0.2rem;
    background-color: #FFF;
    border-radius: 50%;
    bottom: .7rem;
    right: .7rem;
}

/* ========= Main Bottom ========== */
.main__bottom{
    position: relative;
    max-width: 900px;
    margin: auto;
    padding-top: 10rem;
}
.search__box{
    display: flex;
    min-width: 960px;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #F0F4F9;
    border-radius: 2rem;
}
.search__box input{
    width: 65vh;
    border: none;
    background-color: #F0F4F9;
    font-size: 1rem;   
    font-weight: 500;
    outline-style: none;
}

.search__box-icon{
    display: flex;
    column-gap: 1rem;
}

.search__img-icon{
    width: 2rem;
    cursor: pointer;
}

.main__botton-descrip{
    margin-top: 1rem;
    font-size: .8rem;
    text-align: center;
}
.result{
    padding: 0 3%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.result__title{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}


.result__title img {
    width: 3rem;
    height: 3rem;
    padding: 0.4rem;
    border-radius: 100%;
    border: 2px solid rgba(105, 105, 105, .5);
    background-color: #ffffff;
}

.result__data{
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-top: 2rem;
}

.result__data img{
    width: 3rem;
    height: 3rem;
}

.result__data p{
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loader hr{
    border-radius: 6px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right,#558DF5, #F15A55);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 2s infinite linear;
}


.recent__entry p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px; /* Điều chỉnh chiều rộng theo ý muốn */
  }
@keyframes loader{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}



/* =========== Media ============= */
@media (max-width: 340px){
    

    .result{
        padding: 0;
    }

    .result__title img{
        width: 2rem;
        height: 2rem;
    }

    .result__data img{
        width: 1.2rem;
        height: 1.2rem;
    }

    .result__data{
        gap: 0.5rem;
    }

    .cards {
        max-width: 300px;
        grid-template-columns: repeat(auto-fill, 280px);
        /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */       
    }

    .card{
        min-height: 120px;
        font-size: 0.8rem;
    }

    .nav img{
        position: absolute;
        left: 60vw;
        top: 0;
    }

    .main__bottom{
        position: relative;
        max-width: 340px;
        padding-top: 0;
    }

    .search__box{
        min-width: 200px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1rem 1rem;
    }

    .search__box input{
        width: 80%;
        font-size: 0.8rem;
    }


    .search__img-icon{
        width: 1rem;
        height: 1rem;
    }
}

@media (min-width: 340px) {
    .result{
        padding: 0;
    }

    .result__title img{
        width: 2rem;
        height: 2rem;
    }

    .result__data img{
        width: 1.2rem;
        height: 1.2rem;
    }

    .result__data{
        gap: 0.5rem;
    }

    .cards {
        max-width: 300px;
        grid-template-columns: repeat(auto-fill, 280px);
        /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */       
    }

    .card{
        min-height: 120px;
        font-size: 0.8rem;
    }

    .nav img{
        position: absolute;
        left: 60vw;
        top: 0;
    }

    .main__bottom{
        position: relative;
        max-width: 340px;
        padding-top: 0;
    }

    .search__box{
        min-width: 200px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1rem 1rem;
    }

    .search__box input{
        width: 80%;
        font-size: 0.8rem;
    }


    .search__img-icon{
        width: 1rem;
        height: 1rem;
    }

    .greet {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .cards {
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(auto-fill, 300px);
    }
}

/* ========= For Small Device =========== */
@media (min-width: 576px) {
    .main{
        margin: 2rem 1rem;
    }

    .main .nav{
        max-width: 90vw;
    }

    .greet{
        max-width: 90vw;
        text-align: center;
        font-size: 2.3rem;
    }

    .greet .greet__gradient{
        margin-left: auto;
        margin-right: auto;
        font-size: 3rem;
    }

    .cards {
        width: 90vw;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        align-items: center;
    }

    .search__box {
        min-width: fit-content;
        padding: 1rem;
    }

    .search__box input{
        width: 90%;
        font-size: 1rem;
    }

    .result {
        padding: 0;
    }

    .result__title img {
        width: 2rem;
        height: 2rem;
    }

    .result__data img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .result__data {
        gap: .5rem;
    }

    .main__botton-descrip {
        margin-top: 4rem;
    }
}

@media (min-width: 1024px) {
    .greet .greet__gradient{
        font-size: 3.2rem;
        margin-left: 0;
    }
    .greet{
        text-align: start;
    }
}
