.sidebar{
    min-height: 100vh;
    /* width: auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
}

.sidebar img{
    width: 20px;
}

.sidebar .menu{
    display: block;
    margin-left: 10px;
    margin-bottom: 3rem;
    cursor: pointer;
}

.sidebar .new__chat{
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    padding: 10px 15px;
    background: #e6eaf1;
    border-radius: 30px;
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: gray;
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
}

.sidebar .recent__title{
    margin-bottom: 1.5rem;
}

.sidebar .recent__entry{
    display: flex;
    align-items: start;
    gap: 1rem;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}

.sidebar .recent__entry:hover{
    background-color: rgba(105, 105, 105, 0.2);
}
    