

.sidebar img{
    width: 20px;
}

.sidebar .menu{
    display: block;
    margin-left: 10px;
    margin-bottom: 3rem;
    cursor: pointer;
}

.sidebar .new__chat{
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    padding: 10px 15px;
    background: #e6eaf1;
    border-radius: 30px;
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: gray;
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
}

.sidebar .recent__title{
    margin-bottom: 1.5rem;
}

.sidebar .recent__entry{
    display: flex;
    align-items: start;
    gap: 1rem;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}

.sidebar .recent__entry:hover{
    background-color: rgba(105, 105, 105, 0.2);
}

.new__chat{
    cursor: pointer;
}

.new__chat:hover{
    background-color: rgba(105, 105, 105, 0.2);
}

.recent__entry p{
    font-size: .8rem;
}

.bottom p{
    font-size: .8rem;
}



/* ======= Media ====== */
@media (max-width: 340px) {
    .appH{
        margin: 2rem 1rem;
    }
    .sidebar{
      display: none;
    }
    
    .sidebar .menu {
        display: block !important;
    }

    .greet{
        max-width: 300px;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .greet__gradient{
        font-size: 2.5rem;
    }

    
}
@media (min-width: 340px) {
    .appH{
        margin: 2rem 1rem;
    }
    .sidebar{
       display: none;
    }
    
}


/* ======= For medium Device ======== */
@media (min-width: 576px) {
    .sidebar{
        width: 20%;
        padding: 2rem 0.5rem;
    }

    .sidebar .menu {
        margin-left: 4px;
    }

    .sidebar .new__chat{
        padding: 5px 5px;
        font-size: .8rem;
        gap: 0.5rem;
    }

    .sidebar .recent__entry {
        padding: 1rem 0;
        gap: .5rem;
    }

        
}
    
/* ======= For large Device ======== */
@media (min-width: 1024px) {
    .sidebar{
        min-height: 100vh;
        width: 10% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #f0f4f9;
        padding: 25px 15px;
    }
    
    
}